{% extends "layout.html" %}

{% block title %}
    Events
{% endblock %}

{% block main %}
    {% if events %}
        {% for event in events %}
            <a href="event/{{ event["id"] }}"><h2>{{ event["title"] }}</h2></a>
            <h3>{{ event["details"] }}</h3>
            <input type="date" value={{ event["date"] }} readonly>
            <p>enroled: {{ event["enroled"] }}/{{ event["cap"] }}</p>
            <p>created on: {{ event["timestamp"] }}</p>
            <p>Country:  {{ event["country_name"] }}</p>
            <a href="/leave/{{ event["id"]  }}"><button class="btn btn-danger btn-sm" type="button">leave</button></a>
            <br>
        {% endfor %}
    {% else %}
        You havesnt participated in any events browse <a href="/">events</a>.
    {% endif %}
    
{% endblock %}