{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}  
    {% if exists == True %}
        <div style="width: 75%; margin: auto;">
            <table class="htable">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>SHARES</th>
                        <th>PRICE</th>
                        <th>TRANSACTION</th>
                        <th>DATE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions%}
                        <tr>
                            <td>{{ transaction["name"] }}</td>
                            <td>{{ transaction["shares"] }}</td>
                            <td>{{ transaction["price"] }}</td>
                            <td>{{ transaction["transaction"] }}</td>
                            <td>{{ transaction["date"] }}</td>
                        </tr>
                    {% endfor %}  
                    
        
                </tbody>
            </table>   
        </div>  
    {% else %}
        No history of transactions
    {% endif %}

 
{% endblock %}