{% extends "layout.html" %}

{% block title %}
    Search for {{ symbol }}
{% endblock %}

{% block main %}
    <!--<table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["price"] }}</td>
                </tr>              
        </tbody>
    </table>-->
    A share of {{ stock["name"] }} costs {{ stock["price"] | usd}}.
{% endblock %}